In [1]:
from IPython.core.interactiveshell import InteractiveShell
import numpy as np
import pandas as pd
import seaborn as sns

InteractiveShell.ast_node_interactivity = "all"

%time df311 = pd.read_pickle('data/311.pkl')
%time pluto = pd.read_pickle('data/pluto_full.pkl')

CPU times: user 2.68 s, sys: 1.02 s, total: 3.7 s
Wall time: 3.76 s
CPU times: user 1.51 s, sys: 953 ms, total: 2.46 s
Wall time: 2.82 s

In [2]:
pd.options.display.max_rows = 2
pd.options.display.max_columns = 7
df311
pluto

,Key,Created,Closed,...,Boro,Latitude,Longitude
0,45531130,2020-02-02 06:09:17,NaT,...,MANHATTAN,40.765132,-73.988993
...,...,...,...,...,...,...,...
6019842,44063737,2019-10-15 11:29:01,2019-10-15 21:19:45,...,MANHATTAN,40.724749,-73.975269

       Borough  Block  Lot  ...  Version  FIRM07_Flag  PFIRM15_Flag
0           BK      1    1  ...     18V1          NaN           NaN
...        ...    ...  ...  ...      ...          ...           ...
859211      SI   8050   94  ...     18V1          NaN           NaN

[859212 rows x 89 columns]