In [1]:
from IPython.core.interactiveshell import InteractiveShell
import numpy as np
import pandas as pd
import seaborn as sns

InteractiveShell.ast_node_interactivity = "all"

%time df311 = pd.read_pickle('311.pkl')
%time pluto = pd.read_pickle('pluto_full.pkl')

CPU times: user 2.79 s, sys: 1.59 s, total: 4.38 s
Wall time: 5.32 s
CPU times: user 1.61 s, sys: 1.1 s, total: 2.71 s
Wall time: 3.28 s

In [2]:
pd.set_option('max_rows', 1)
pd.set_option('max_columns', 9)
pd.set_option('max_colwidth', 13)

df311
pluto

,Key,Created,Closed,Complaint,...,Description,Boro,Latitude,Longitude
0,45531130,2020-02-02...,NaT,Hotwater,...,The follo...,MANHATTAN,40.765132,-73.988993

,Borough,Block,Lot,CD,...,PFIRM15_FLAG,Version,FIRM07_Flag,PFIRM15_Flag
0,BK,1,1,302,...,1.0,18V1,NaN,NaN

### Next Steps
1. Add feature descriptions from pluto PDF
1. Recompile datasets to test filename changes