In [1]:
from IPython.core.interactiveshell import InteractiveShell
import numpy as np
import pandas as pd
import seaborn as sns

InteractiveShell.ast_node_interactivity = "all"

%time df311 = pd.read_pickle('data/311.pkl')
%time pluto = pd.read_pickle('data/pluto_full.pkl')

CPU times: user 2.65 s, sys: 1.03 s, total: 3.68 s
Wall time: 3.75 s
CPU times: user 1.48 s, sys: 867 ms, total: 2.34 s
Wall time: 2.35 s

In [2]:
pd.set_option('max_rows', 1)
pd.set_option('max_columns', 9)
pd.set_option('max_colwidth', 10)
# pd.reset_option('max_colwidth')

df311
pluto

,Key,Created,Closed,Complaint,...,Description,Boro,Latitude,Longitude
0,45531130,2020-02...,NaT,Hotwater,...,The fo...,MANHATTAN,40.765132,-73.988993

,Borough,Block,Lot,CD,...,PFIRM15_FLAG,Version,FIRM07_Flag,PFIRM15_Flag
0,BK,1,1,302,...,1.0,18V1,NaN,NaN

### Next Steps
1. Add feature descriptions from pluto PDF